@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vh;
    
    
}



::-webkit-scrollbar{
    width: 0;
}

/* Navigation */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    /* border: 2px solid white; */
    background: rgba(0, 0, 0, 0.438);
    width: 100vw;
    height: 65px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

    z-index: 4;
}

.navbar button{
    position: absolute;
    right: 165px;
    width: 158px;
    height: 37px;
    background: rgb(236 20 63);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.navbar button:hover{
    background-color: #29aa1d;

}
.navbar button:focus{
    border: none;
    outline: none;
    

}
.navbar button:active{
    background-color: #208817;
}

.navbar .logo{
    position: absolute;
    left: 220px;
    color: white;
    font-size: 0.9rem;
    cursor: default;
}
.logo h2{
    font-size: 1.7rem;
    position: relative;
    top: 0px;
    transition: all 0.5s ease-in-out;
}
.logo h1{
    position: absolute;
    font-size: 2.5rem;
    top: -8px;
    left: 38px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.logo:hover h1{
    opacity: 1;
}

.logo:hover h2{
    top: 8px;
    opacity: 0;
}


.navbar a{
    position: relative;
    margin: 0px 39px;
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    transition: all 0.5s ease-in-out;

}

.navbar a:hover{
    color: rgb(228, 98, 124);
}

/* END - Navigation bar */


/* Top Section ########################################################################################################################## */
.section-first{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

   


}

.section-first::before{
    content: '';
    /*background: url('.../img/home-back.jpg') no-repeat center center/cover;*/
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    z-index: -1;
    
}
.section-first::after{
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) ,rgb(0, 0, 0)) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
 
}

#home img{
    
    height: 60%;
}
#home h1{
    font-size: 4rem;
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
}
#home p{
    font-size: 1.2rem;
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#home .content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44%;
    position: relative;
    top: -20px;
    

}

/* Button Styling */
.btn-1{
    position: relative;
    top: 0px;
    right: 40px;
    font-size: 1.2rem;
    background: #e90a4d;
    color: white;
    border: none;
    width: 175px;
    border-radius: 7px;
    height: 38px;
    cursor: pointer;
    z-index: 1;
    
}


  .btn-1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #29aa1d;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.5s ease;
  }
  .btn-1:hover {
    color: #fff;
  }
  
  .btn-1:hover:after {
    left: 0;
    width: 100%;
  }
.btn-1:focus{
    border: none;
    outline: none;
}

.btn-1:active::after{
    background-color:#208817;
}



/* Top Section End ############################################################################################################################## */

/* Feature Section Start ################################################################################################################## */

.feature-section{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 300vh;
    
    
}

/* Feature item 1 ##################################################*/
.feature-item1{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box-que1{
    width: 60%;
    height: 75%;
    /* border: 2px solid white; */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 1;
    z-index: 2;
    
    
}
.box-que1 img{
        /* width: 360px; */
        height: 414px;
        position: relative;
        bottom: 40px;
    
}
.box-que1 button{
    position: relative;
    font-size: 1.5rem;
    width: 339px;
    height: 40px;
    background: #ef183f;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}


.box-que1 button:focus{
    border: none;
    outline: none;
    

}
.box-que1 button:active{
    background-color: #cc1234;
}

#fimg1{
    position: absolute;
    left: -12%;
    top: 50%;
    height: 55%;
    transform: rotate(30deg);
    opacity: 0.3;
}
#fimg2{
    position: absolute;
    right: -7%;
    top: -8%;
    height: 55%;
    transform: rotate(-38deg);
    opacity: 0.35;
}

.box-main1{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    width: 95%;
    height: 65%;
    box-shadow: 0px 0px 20px 2px white;
    transition: all 1s ease-in-out;
    z-index: 1;
    
}
.box-main1 img{
    height: 400px;
    width: 435px;
}

.content1{
    color: white;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 35px;
}
.content1 h2{
    position: relative;
    font-size: 3.5rem;
    text-align: center;
}
.content1 p{
    font-size: 1.3rem;
    text-align: center;
}

/* Feature item 1  End ##################################################*/
/* Feature item 2 ##################################################*/

.feature-item2{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.feature-item2 h2{
    color: white;
    font-size: 3rem;
    
}











/* Feature item 2  End ##################################################*/
/* Feature item 3 ##################################################*/

.feature-item3{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.feature-item3 h2{
    color: white;
    font-size: 3rem;
    
}











/* Feature item 3  End ##################################################*/




/* Feature Section End ################################################################################################################## */
/* Contact Us/ About us ################################################################################################################## */

#contact{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'Ubuntu', sans-serif;  
}

#contact::before{
    content: '';
    /*background: url('.../img/contact-back.jpg') no-repeat center center/cover;*/
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    
}
#contact::after{
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) ,rgb(0, 0, 0)) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
 
}
#contact h2{
    color: white;
    font-size: 4rem;
    letter-spacing: 4px;
    text-shadow: 0px 0px 7px white;

}
#contact form{
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}

.contact-input{
    width: 500px;
    height: 60px;
    margin: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 5px 4px 0px 0px #c7c7c7;


}
.contact-input img{
    height: 35px;
    position: relative;
    right: 6%;

}
.contact-input input{
    height: 35px;
    position: relative;
    right: 1%;
    width: 70%;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 1rem;
    font-weight: bold;

}
.contact-input input:focus{
    
    outline: none;

}

#contact form textarea{
    width: 470px;
    margin: 10px;
    /* font-family: 'Ubuntu', sans-serif; */
    border: none;
    font-size: 1.1rem;
    /* letter-spacing: 0.3px; */
    font-weight: bold;
    color: #4e4e4e;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 5px 4px 0px 0px #c7c7c7;
    resize: none;

}
#contact form textarea:focus{
    outline: none;
}

#contact form button{
    position: relative;
    width: 220px;
    height: 42px;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.3px;
    font-weight: bold;
    /* padding: 15px; */
    border-radius: 4px;
    
    background: rgb(236 ,20 ,63);
    color: white;
    cursor: pointer;
    z-index: 1;

}

 
#contact form button:focus{
    border: none;
    outline: none;
}
#contact form button:active{
    background: rgb(168, 18, 48);
}





/* Contact Us/ About us END ################################################################################################################## */

/* FOOTER ###################################################################################################################################### */

.def-footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 10vh;
    background: rgb(0 0 0 / 0.90);
    color: white;
    display: flex;
    /* text-align: center; */
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
}

/* FOOTER END ################################################################################################################################## */
